<div class="container contsm ps-5 pe-5 mt-5 mb-5">

    <h1 class="text-center display-3 mb-5">Studio Photos</h1>

    <blockquote class="blockquote text-center mb-5">
        <p class="mb-3">There is one thing the photograph must contain, the humanity of the moment.</p>
        <footer class="blockquote-footer"><cite title="Source Title">Robert Frank</cite></footer>
    </blockquote>

    <p class="lead text-center">
        Give me a studio, my camera and bring positive vibes with you and I will make your pictures unforgettable!
    </p>

    <!-- row 1 -->
    <div class="row contsm ps-5 pe-5 mt-5 mb-3">

        <!-- card 1 -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card bg-dark mbsm">
                <img src="assets/studio/pic1.jpg" class="card-img" alt="...">
            </div>
        </div>

        <!-- card 2 -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card bg-dark">
                <img src="assets/studio/pic2.jpg" class="card-img" alt="...">
            </div>
        </div>

        <!-- row closing tag -->
    </div>

    <!-- row 2 -->
    <div class="row contsm ps-5 pe-5">

        <!-- card 1 -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-2 marsm">
            <div class="card bg-dark mbsm">
                <img src="assets/studio/pic3.jpg" class="card-img" alt="...">
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-2 marsm">
            <div class="card bg-dark mbsm">
                <img src="assets/studio/pic4.jpg" class="card-img" alt="...">
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-2 marsm">
            <div class="card bg-dark mbsm">
                <img src="assets/studio/pic5.jpg" class="card-img" alt="...">
            </div>
        </div>

        <!-- card 2, 3 -->

        <!-- card 4, 5 -->


        <!-- row closing tag -->
    </div>

    <!-- row 3 -->
    <div class="row contsm ps-5 pe-5">

        <!-- card 1 -->
        <div class="col-lg-6 col-xs-12 mt-3">
            <div class="card bg-dark mbsm">
                <img src="assets/studio/pic6.jpg" class="card-img" alt="...">
            </div>
        </div>

        <!-- card 2 -->
        <div class="pt-3 col-lg-3 col-sm-12 col-xs-12">
            <div class="card bg-dark mb-3">
                <img src="assets/studio/pic7.jpg" class="card-img" alt="...">
            </div>
            <div class="card bg-dark">
                <img src="assets/studio/pic8.jpg" class="card-img" alt="...">
            </div>
        </div>
        <div class="pt-3 col-lg-3 col-sm-12 col-xs-12">
            <div class="card bg-dark mb-3">
                <img src="assets/studio/pic9.jpg" class="card-img" alt="...">
            </div>
            <div class="card bg-dark">
                <img src="assets/studio/pic10.jpg" class="card-img" alt="...">
            </div>
        </div>

    </div>
    <!-- row closing tag -->
    <!-- closing container -->
</div>

<!-- JS Boot -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- end of script -->