<div class="container mt-5 mb-5">

    <h1 class="display-5 text-center">Collabs and orders</h1>

    <div class="row mt-5">
        <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
            <div class="card">
                <img src="https://images.pexels.com/photos/3584932/pexels-photo-3584932.jpeg" alt="" class="card-img">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h5 class="display-6">Why me?</h5>
            <p>8 years of experience all around the world and thousands of happy clients, including big companies - my knowledge is the guarantee of the best quality.</p>
            <h5 class="display-6">How long is the queue?</h5>
            <p>For studio photos - 1-2 weeks, wedding - 2-3 months, all another types - contact my manager (info below).</p>
            <h5 class="display-6">How long it takes, till I receive my photos?</h5>
            <p>Usually studio and portrait photos done in 2 weeks, wedding photos - around 2 months. For other collabs - individual timeframes.</p>
        </div>
    </div>

    <h1 class="display-5 text-center mt-5 mb-3">Contact me</h1>
    <p class="lead text-center">Make your call to receive an amazing photos</p>

    <div class="row mt-5">
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <i class="bi bi-phone" style="font-size: 30px;"></i>
            <h5>Call my office</h5>
            <p>00436677878787 <br> Mo.-Fr. 10:00-18:00</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <i class="bi bi-chat-dots" style="font-size: 30px;"></i>
            <h5>Text</h5>
            <p>WhatsApp, Telegram 00436677878787 <br> Instagram direct: maxroph</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <i class="bi bi-envelope-heart" style="font-size: 30px;"></i>
            <h5>E-Mail</h5>
            <p>maxroph@google.com <br> Orders, Business Inquiries, Questions</p>
        </div>

        <p class="lead text-center mt-4">Or fill out the contact form below and we will contact you soon <i class="bi bi-arrow-down"></i></p>

    </div>

</div>