<!-- container with photos -->
<div class="container contsm ps-5 pe-5 mt-5 mb-5">

    <h1 class="text-center display-3 mb-5">Portrait stories</h1>

    <blockquote class="blockquote text-center mb-5">
        <p class="mb-3">Personality begins where comparison ends.</p>
        <footer class="blockquote-footer"><cite title="Source Title">Karl Lagerfeld</cite></footer>
    </blockquote>

    <p class="lead text-center">
        I strongly believe that every person is beautiful. We have a different paths, destiny. We love, we believe.
        That´s why while travelling around the world I´m taking a pictures of the people I meet. Take a look :)
    </p>

    <!-- row 1 -->
    <div class="row contsm ps-5 pe-5 mt-5 mb-3">

        <!-- card 1 -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card bg-dark mbsm">
                <img src="https://images.pexels.com/photos/6957184/pexels-photo-6957184.png" class="card-img" alt="...">
            </div>
        </div>

        <!-- card 2 -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card bg-dark">
                <img src="https://images.pexels.com/photos/5251204/pexels-photo-5251204.jpeg" class="card-img"
                    alt="...">
            </div>
        </div>

        <!-- row closing tag -->
    </div>

    <!-- row 2 -->
    <div class="row contsm ps-5 pe-5">

        <!-- card 1 -->
        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 mt-2 marsm">
            <div class="card bg-dark mbsm">
                <img src="https://images.pexels.com/photos/3993416/pexels-photo-3993416.jpeg" class="card-img"
                    alt="...">
            </div>
        </div>

        <!-- card 2, 3 -->
        <div class="col-lg-4 col-sm-7 col-xs-12">
            <div class="card bg-dark mb-3">
                <img src="https://images.pexels.com/photos/5259295/pexels-photo-5259295.jpeg" class="card-img"
                    alt="...">
            </div>
            <div class="card bg-dark mb-3">
                <img src="https://cdn.pixabay.com/photo/2017/11/09/16/16/man-2933984__480.jpg" class="card-img"
                    alt="...">
            </div>
        </div>

        <!-- card 4, 5 -->
        <div class="col-lg-4 col-sm-12 col-xs-12">
            <div class="card bg-dark mb-3">
                <img src="https://images.pexels.com/photos/4091205/pexels-photo-4091205.jpeg" class="card-img"
                    alt="...">
            </div>
            <div class="card bg-dark">
                <img src="https://cdn.pixabay.com/photo/2016/05/23/23/32/human-1411499_960_720.jpg" class="card-img"
                    alt="...">
            </div>
        </div>

        <!-- row closing tag -->
    </div>

    <!-- row 3 -->
    <div class="row contsm ps-5 pe-5">

        <!-- card 1 -->
        <div class="col-lg-6 col-xs-12 mt-4">
            <div class="card bg-dark mbsm">
                <img src="https://images.pexels.com/photos/3823741/pexels-photo-3823741.jpeg" class="card-img"
                    alt="...">
            </div>
        </div>

        <!-- card 2 -->
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card bg-dark mb-3">
                <img src="https://images.pexels.com/photos/8638774/pexels-photo-8638774.jpeg" class="card-img"
                    alt="...">
            </div>
        </div>

        <!-- card 3 -->
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card bg-dark mb-3">
                <img src="https://images.pexels.com/photos/8639179/pexels-photo-8639179.jpeg" class="card-img"
                    alt="...">
            </div>
        </div>
    </div>
    <!-- row closing tag -->

    <!-- Text 2 -->
    <h1 class="text-center display-5 mb-5 mt-5">Companies and business inquiries</h1>

    <p class="lead text-center">
        Based in Vienna, I receive a lot of requests for business portrait photos.</p>
    <ul class="lead text-center list-unstyled">
        <li>My partners are:</li>
        <li>Victory Bank Ltd</li>
        <li>Museum XM</li>
        <li>Fancy Oper, etc.</li>

    </ul>


    <!-- row 1 -->
    <div class="row contsm ps-5 pe-5 mt-5 mb-3">

        <!-- card 1 -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card bg-dark mbsm">
                <img src="https://images.pexels.com/photos/1367269/pexels-photo-1367269.jpeg" class="card-img"
                    alt="...">
            </div>
        </div>

        <!-- card 2 -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card bg-dark">
                <img src="https://images.pexels.com/photos/3760532/pexels-photo-3760532.jpeg" class="card-img"
                    alt="...">
            </div>
        </div>

        <!-- row closing tag -->
    </div>

    <!-- row 2 -->
    <div class="row contsm ps-5 pe-5">

        <!-- card 1 -->
        <div class="col-lg-4 col-sm-12 col-xs-12 mt-2">
            <div class="card bg-dark">
                <img src="https://images.pexels.com/photos/1181742/pexels-photo-1181742.jpeg" class="card-img"
                    alt="...">
            </div>
        </div>

        <!-- card 2, 3 -->
        <div class="col-lg-4 col-sm-12 col-xs-12 mt-4">
            <div class="card bg-dark mb-3">
                <img src="https://images.pexels.com/photos/8942501/pexels-photo-8942501.jpeg" class="card-img"
                    alt="...">
            </div>
            <div class="card bg-dark mb-3">
                <img src="https://images.pexels.com/photos/8528742/pexels-photo-8528742.jpeg" class="card-img"
                    alt="...">
            </div>
        </div>

        <!-- card 4, 5 -->
        <div class="col-lg-4 col-sm-12 col-xs-12 mt-2">
            <div class="card bg-dark mb-3">
                <img src="https://images.pexels.com/photos/4427622/pexels-photo-4427622.jpeg" class="card-img"
                    alt="...">
            </div>
        </div>

        <!-- row closing tag -->
    </div>


    <!-- closing container -->
</div>

<!-- JS Boot -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<!-- end of script -->