<h1 class="text-center display-3 mt-5 mb-5">Biography</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <img
          src="https://images.pexels.com/photos/1540977/pexels-photo-1540977.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="">
      </div>
    </div>
    <div class="col-lg-8">
      <h2 class="mt-3">Maximilian Romako</h2>
      <hr>
      <p>My name is Maximilian Romako, i am a professional photographer and I love to take pictures, especially of
        people, in every kind of way.</p>
      <br>
      <p>Even though i was born behind the iron courtain, in East Berlin, i am acutally an Englishman, having spent most
        of my youth in
        Sussex, before i went to study photography and fine arts at the London Imperial College. Now I live in Vienna,
        where i met my wonderful wife Ida. I often travel for work, always looking forward to finding new places and
        meeting new people.</p>
      <br>
      <p>Since I was a small child, i ve always had a keen interest in photography, how a camera is constructed, how it
        works and how pictures are taken was always a fascinating marvel to me!</p>
      <br>
      <p>When taking pictures of people, my goal is to show what is underneath: beauty, grace, strength, a persons
        energy and enthusiasm. If possible, i focus on non-models, putting regular people in exaggerated situations to
        highlight aspects who
        they truly are.</p>
      <br>
      <p>As i ve mentioned earlier, I am based in Vienna but frequently travel through Europe and the world for projects
        and work. Occasionally, i also assist other photographers, as i consider it a wonderful opportunity to grow
        further and find new
        inspiration. I do a lot of studio photos, along with portraits, landscapes, the art of dancing as well as
        weddings. I cooporate with professional agencies around the world and was fortunate enough to gain a lot of
        experience already. Feel
        free to have a look at some of my certificates and awards below, to get a more in depth understanding of my
        qualifications as well as my journey in the art of photography.</p>
      <br>
      <p>I hope you enjoy my photography. If so, and if you would like to work with me, please use my contact page or
        various social media channels to leave a message. I am always eager to make new experiences and meet new people!
      </p>
      <hr>
    </div>
  </div>
</div>
<div class="container mb-5">
  <h3 class="text-center display-3 mt-5 mb-5">Awards and Certificates</h3>

  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 mt-2">
      <div class="card">
        <img src="assets/images/certificate1.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mt-2">
      <div class="card">
        <img src="assets/images/certificate2.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mt-2">
      <div class="card">
        <img src="assets/images/certificate3.jpg" alt="">
      </div>
    </div>

  </div>
</div>
<br>

<!-- story of life or w/e, educations, works -->
<!-- awards / certificates (1-2-3- photos of it at the end) -->