<div class="container contsm ps-5 pe-5 mt-5 mb-5">

  <h1 class="text-center display-3 mb-5">Dancing Photos</h1>

  <blockquote class="blockquote text-center mb-5">
    <p class="mb-3">We look at the dance to impart the sensation of living in an affirmation of life, to energize the spectator into keener awareness of the vigor, the mystery, the humor, the variety, and the wonder of life.</p>
    <footer class="blockquote-footer"><cite title="Source Title">Martha Graham</cite></footer>
  </blockquote>

  <p class="lead text-center">
    The human body is amazing how it can move, assume different poses, convey the character of a given dance and show emotions. <br> Here are some examples of my work.
  </p>

  <!-- row 1 -->
  <div class="row contsm ps-5 pe-5 mt-5 mb-3">

    <!-- card 1 -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card bg-dark mbsm">
        <img src="assets/images/dancing/1.jpg" class="card-img" alt="...">
      </div>
    </div>

    <!-- card 2 -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card bg-dark">
        <img src="assets/images/dancing/2.jpg" class="card-img" alt="...">
      </div>
    </div>

    <!-- row closing tag -->
  </div>

  <!-- row 2 -->
  <div class="row contsm ps-5 pe-5">

    <!-- card 1 -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-2 marsm">
      <div class="card bg-dark mbsm">
        <img src="assets/images/dancing/3.jpg" class="card-img" alt="...">
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-2 marsm">
      <div class="card bg-dark mbsm">
        <img src="assets/images/dancing/4.jpg" class="card-img" alt="...">
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-2 marsm">
      <div class="card bg-dark mbsm">
        <img src="assets/images/dancing/5.jpg" class="card-img" alt="...">
      </div>
    </div>

    <!-- card 2, 3 -->

    <!-- card 4, 5 -->


    <!-- row closing tag -->
  </div>

  <!-- row 3 -->
  <div class="row contsm ps-5 pe-5">

    <!-- card 1 -->
    <div class="col-lg-6 col-xs-12 mt-3">
      <div class="card bg-dark mbsm">
        <img src="assets/images/dancing/6.jpg" class="card-img" alt="...">
      </div>
    </div>

    <!-- card 2 -->
    <div class="pt-3 col-lg-3 col-sm-12 col-xs-12">
      <div class="card bg-dark mb-3">
        <img src="assets/images/dancing/7.jpg" class="card-img" alt="...">
      </div>
      <div class="card bg-dark">
        <img src="assets/images/dancing/8.jpg" class="card-img" alt="...">
      </div>
    </div>
    <div class="pt-3 col-lg-3 col-sm-12 col-xs-12">
      <div class="card bg-dark mb-3">
        <img src="assets/images/dancing/9.jpg" class="card-img" alt="...">
      </div>
      <div class="card bg-dark">
        <img src="assets/images/dancing/10.jpg" class="card-img" alt="...">
      </div>
    </div>

  </div>
  <!-- row closing tag -->

  

 
