<!-- container with photos -->
<div class="container contsm ps-5 pe-5 mt-5 mb-5">

    <h1 class="text-center display-3 mb-5">Architecture stories</h1>

    <blockquote class="blockquote text-center mb-5">
        <p class="mb-3">Music is liquid architecture; Architecture is frozen music</p>
        <footer class="blockquote-footer"><cite title="Source Title">Johann Wolfgang von Goethe</cite></footer>
    </blockquote>

    <p class="lead text-center">
        Our buildings are a reflection of our culture. I m fascinated by how similar purposes can lead to comleptely
        different architectual solutions.
        From small details to big fronts, there is always a story and beauty everywhere!
    </p>

    <!-- row 1 -->
    <div class="row contsm ps-5 pe-5 mt-5 mb-3">

        <!-- card 1 -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-3">
            <div class="card bg-dark mbsm">
                <img src="../../assets/images/architecture/triangle.jpg" class="card-img" alt="img_triangle">
            </div>
        </div>

        <!-- card 2 -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card bg-dark">
                <img src="../../assets/images/architecture/yellow_wall.jpg" class="card-img" alt="img_wall">
            </div>
        </div>

        <!-- row closing tag -->
    </div>

    <!-- row 2 -->
    <div class="row contsm ps-5 pe-5">

        <!-- card 1 -->
        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 mt-2 mb-3 marsm">
            <div class="card bg-dark mbsm">
                <img src="../../assets/images/architecture/rectangle_sky.jpg" class="card-img" alt="img_rect_sky">
            </div>
        </div>

        <!-- card 2, 3 -->
        <div class="col-lg-4 col-sm-7 col-xs-12">
            <div class="card bg-dark mb-3">
                <img src="../../assets/images/architecture/brown_arc.jpg" class="card-img" alt="img_arc">
            </div>
            <div class="card bg-dark mb-3">
                <img src="../../assets/images/architecture/steelbars.jpg" class="card-img" alt="img_steelbars">
            </div>
        </div>

        <!-- card 4, 5 -->
        <div class="col-lg-4 col-sm-12 col-xs-12">
            <div class="card bg-dark mb-3">
                <img src="../../assets/images/architecture/yellow_roof.jpg" class="card-img" alt="img_yellow_roof">
            </div>
            <div class="card bg-dark">
                <img src="../../assets/images/architecture/blue_roof.jpg" class="card-img" alt="img_roof">
            </div>
        </div>

        <!-- row closing tag -->
    </div>

    <!-- row 3 -->
    <div class="row contsm ps-5 pe-5">

        <!-- card 1 -->
        <div class="col-lg-6 col-xs-12 mt-3 mb-3">
            <div class="card bg-dark mbsm">
                <img src="../../assets/images/architecture/brown_stair.jpg" class="card-img" alt="brown_stair">
            </div>
        </div>

        <!-- card 2 -->
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card bg-dark mb-3">
                <img src="../../assets/images/architecture/green_stair.jpg" class="card-img" alt="stair">
            </div>
        </div>

        <!-- card 3 -->
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card bg-dark mb-3">
                <img src="../../assets/images/architecture/church.jpg" class="card-img" alt="church">
            </div>
        </div>

    </div>
    <!-- row closing tag -->

    <!-- Text 2 -->
    <h1 class="text-center display-5 mb-5 mt-5">Company and business inquiries</h1>

    <p class="lead text-center">
        Based in Vienna, I frequently receive requests for architecture photo shoots.</p>
    <ul class="lead text-center list-unstyled">
        <li>My partners are:</li>
        <li>Prometheus Gas Inc.</li>
        <li>BERAG Banking Corp.</li>
        <li>Vienna Private Universities Assc., etc.</li>

    </ul>
    <!-- row 1 -->
    <div class="row contsm ps-5 pe-5 mt-5 mb-3">

        <!-- card 1 -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-3">
            <div class="card bg-dark mbsm">
                <img src="../../assets/images/architecture/blue_cubicle.jpg" class="card-img" alt="...">
            </div>
        </div>

        <!-- card 2 -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card bg-dark">
                <img src="../../assets/images/architecture/holes.jpg" class="card-img" alt="...">
            </div>
        </div>

        <!-- row closing tag -->
    </div>

    <!-- row 2 -->
    <div class="row contsm ps-5 pe-5">

        <!-- card 1 -->
        <div class="col-lg-4 col-sm-12 col-xs-12 mt-2">
            <div class="card bg-dark">
                <img src="../../assets/images/architecture/skyline.jpg" class="card-img" alt="...">
            </div>
        </div>

        <!-- card 2, 3 -->
        <div class="col-lg-4 col-sm-12 col-xs-12 mt-4">
            <div class="card bg-dark mb-3">
                <img src="../../assets/images/architecture/stair.jpg" class="card-img" alt="...">
            </div>
            <div class="card bg-dark mb-3">
                <img src="https://images.pexels.com/photos/802970/pexels-photo-802970.jpeg" class="card-img" alt="...">
            </div>
        </div>

        <!-- card 4, 5 -->
        <div class="col-lg-4 col-sm-12 col-xs-12">
            <div class="card bg-dark mb-3">
                <img src="../../assets/images/architecture/skyscraper_inside.jpg" class="card-img" alt="...">
            </div>
        </div>

        <!-- row closing tag -->
    </div>


    <!-- closing container -->
</div>

<!-- JS Boot -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<!-- end of script -->